body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, p, h1, ul, li {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    box-sizing: border-box;
}

body {
  padding: 42px 30px;
  font-size: 15px;
  font-family: 'Metropolis-Medium', sans-serif;
  font-weight: normal;
  color: #3D3C3C;
}

.heading {
  font-size: 24px;
  line-height: 31px;
  font-family: 'Metropolis-Bold', sans-serif;
  font-weight: bold;
}

.navigation > ul {
  padding: 40px 0 43px;
  display: flex;
  list-style: none;
  width: 100%;
  overflow-x: scroll;
}

.navigation > ul > li {
  padding-right: 40px;
}

.navigation > ul > li > a {
  text-decoration: none;
  color: #BABBBA;
}

.navigation > ul > li > a.active {
  font-weight: bold;
  color: #3D3C3C;
  position: relative;
}

.navigation > ul > li > a.active::after {
  content: '●';
  position: absolute;
  bottom: 10;
  display: block;
  text-align: center;
  width: 100%;
}

.product-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px 27px;
  position: relative;
}

.product {
  background-color: #EEEEEE;
  border-radius: 16px;
  padding: 38px 0 24px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.product > img {
  align-self: center;
  margin-bottom: 12px;
}

.sofas .product > img {
  align-self: flex-end;
}

.product > p {
  justify-self: end;
  font-weight: bold;
  margin: 0 24px;
}

.product-price {
  font-weight: normal;
  opacity: 0.5;
}

.product-list-wrapper {
  position: relative;
  width: 100%;
}

.product-list {
  position: absolute;
  width: 100%;
}

.product-list-enter {
  opacity: 0;
  transform: translateX(50%);
}

.product-list-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms ease-out;
}

.product-list-exit {
  opacity: 1;
  transform: scale(1);
}

.product-list-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 300ms, transform 300ms ease-out;
}

@media only screen and (min-width: 414px) {
  .product-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .product-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
